<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dealership Form</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <form action="/dealership" method="post">
      <label for="make-model">Add make-model</label>
      <input id="make-model" name="make-model" type="text">
      <label for="price">Price</label>
      <input id="price" name="price" type="number">
      <label for="miles">Add total miles</label>
      <input id="miles" name="miles" type="number">
      <button type="submit">Submit</button>
    </form>
  </body>
</html>